@import "../../../../styles/colors.module.scss";

.header {
    background-color: black;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 0px;
}

.headerLogo {
    width: 180px;
    cursor: pointer;
}

.headerBtn {

    transition: 0.4s;

    &:hover {
    border-color: $lightRed;
    color: $lightRed;
    background-color: transparent;
    
    }
}

@media (max-width: 575px) {
    .headerContainer {
        padding: 20px 26px;
        gap: 20px;
    }
}

@media (max-width: 402px) {
    .headerContainer {
        justify-content: center;
    }
}