.episodeTitle {
    font-size: 36px;
    font-weight: bold;
}

.episodeButtonDiv {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.episodeButton {
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    transition: 0.4s;
    &:hover {
        border: none;
        padding: 0;
        background-color: transparent;
    }
    &:disabled {
        border: none;
        padding: 0;
        background-color: transparent;
    }
    &:active {
        outline: none;
        border: none;
        box-shadow: none;
    }
    &:focus {
        outline: none;
        border: none;
        box-shadow: none;
        background-color: transparent;
    }
}

.arrowImg {
    width: 15px;
    transition: 0.4s;
    &:hover {
        transform: scale(1.2);
    }
}

.player {
    max-width: 100%;
}

@media(max-width: 425px){
    .episodeTitle {
        font-size: 20px;
        padding: 0px 10px;
        word-wrap: break-word;
    }

    .player {
        max-width: 100%;
        margin-top: -60px;
    }
}