* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: #151515;
    min-height: 100vh;
    color: white;

    p {
        margin: 0;
    }
    ::-webkit-scrollbar {
        width: 8px;
    }
    ::-webkit-scrollbar-track {
        background: #151515;
    }
    ::-webkit-scrollbar-thumb {
        background: #868686;
        border-radius: 40px;
    }
}