.sectionBackground {
    background-image: linear-gradient(to bottom, #8b8b8b1a, #151515),
    url("../public/homeNoAuth/homeNoAuth/backgroundPresentationSection.png")
    ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}