@import "./colors.module.scss";


.main{
    background-image: linear-gradient(to bottom, #151515, black);
    background-image: linear-gradient(to bottom, #8b8b8b1a, #151515),
    url("../public/homeNoAuth/homeNoAuth/backgroundPresentationSection.png")
    ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.conatinerLogin {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}


.formTitle {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
}

.formParagrafo {
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
}

.form {
    width: 560px;
    padding: 50px;
    border: 1px solid $darkGray;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.75);
}

.lebel {
    font-size: 14px;
    font-weight: bold;
    padding-top: 20px;
}

.input {
    border-color: $darkGray;
    background-color: transparent;
    color: white;

    &::placeholder{
        color: $lightGray;
    }
    &:focus{
      background-color: transparent;
      border-color: $lightGray;
      color: white;
      box-shadow: none;
    }
}

.inputName {
    @extend .input;
    &::placeholder {
        text-decoration: none;
    }
}

.formBtn {
    display: block;
    margin: 50px auto 0 auto;
    border-color: $lightRed;
    color: white;

    &:hover {
        background-color: transparent;
        color: $lightGray;
        border-color: $darkRed;
    }
}

.footerLogin {
    margin-top: 20%;
}

@media (max-width: 767px) {
    .formTitle {
        font-size: 30px;
    }

    .form {
        width: 95%;
    }
}

@media (max-width: 575px) {
    .form {
        padding: 50px 10px;
    }
}

@media (max-width: 423) {
    .formTitle {
        font-size: 24px;
        text-align: center;
    }
}